name: "Build IOS"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: write

jobs:  
  build:      
    name: Build IOS Nightly
    runs-on: macos-latest 
    env:
      RUNNER_OS: macos
    steps:
        #1 Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@v3

        #2 Setup Java
      # - name: Set Up Java
      #   uses: actions/setup-java@v3.12.0
      #   with:
      #     distribution: 'oracle'
      #     java-version: '17'

        #3 Setup Flutter
      - name: Fix flutter SDK folder permission
        run: git config --global --add safe.directory /tmp/flutter/--
        
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        env:
          RUNNER_OS: macos
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

        #4 Install Dependencies
      - name: Install Dependencies
        run: flutter pub get

      #   #5 Setup Keystore
      # - name: Decode Keystore
      #   run: |
      #     echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/keystore.jks
          
      # - name: Create key.properties
      #   run: |
      #     echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
      #     echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
      #     echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
      #     echo "storeFile=keystore.jks" >> android/key.properties
        
      #  #6 Building APK
      # - name: Build APK
      #   run: flutter build apk --release

      #   #7 Building App Bundle (aab)
      # - name: Build appBundle
      #   run: flutter build appbundle

        #8 Build IPA ( IOS Build )
      - name: Build IPA
        run: flutter build ipa --release --no-codesign

      - name: Compress Archives and IPAs
        run: |
          find build/ios/archive/Runner.xcarchive/ | sed -e "s/[^-][^\/]*\// |/g" -e "s/|\([^ ]\)/|-\1/"
          cd build/ios/archive/Runner.xcarchive/Products/Applications/
          mkdir Payload
          cp -r Runner.app Payload/
          zip -r hifdhapp-flutter-git.ipa Payload/

        #9 Upload Artifacts
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Releases
          path: |
            build/ios/archive/Runner.xcarchive/Products/Applications/hifdhapp-flutter-git.ipa
            
      - name: Upload Asset to Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME=nightly
          FILE_PATH="build/ios/archive/Runner.xcarchive/Products/Applications/hifdhapp-flutter-git.ipa"
          echo "Uploading $FILE_PATH to release $TAG_NAME..."
          gh release upload "$TAG_NAME" "$FILE_PATH" --clobber
